<div class="row span8 offset2">
  <form class='form-stacked' action='/deploy/' method='post'>
    <div class='form-actions'>
      <div class='control-group'>
        <input class='input-xlarge' name='env' id='env' placeholder='environment' type='text'/>
        <input class='input-xlarge' name='tag' id='tag' placeholder='git tag' type='text'/>
        <input class='input-xlarge' name='name' id='name' placeholder='your name' type='text'/>
      </div>
      <div>
        <input class='btn btn-warning' id='deploy' type='submit' value="Deploy!"/>
      </div>
    </div>
  </form>
</div>