development:
  cmd: "cd /var/deploy; bundle exec cap deploy -s environment=<%= @env %> -s branch=<%= @tag %> -s deployed_by=<%= @name %>"
  redis: 
    host: 127.0.0.1
    port: 6379
    db: 0
production:
  cmd: "cd /var/deploy; bundle exec cap deploy -s environment=<%= @env %> -s branch=<%= @tag %> -s deployed_by=<%= @name %>"
  redis: 
    host: 123.123.1.123
    port: 6379
    db: 3